@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import "./variables";
@import "./libs/mixins";
@import "./libs/reset";
@import "./components/allStyles";

.app {
  min-height: 100vh;
  &_container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1150px;
  }
}
.home {
  padding: 40px 0 80px;
}
